header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 18px 24px;

    .logo {
        display: flex;
        align-items: center;

        img {
            margin-right: 20px;
        }

        h1 {
            font-weight: bold;
            font-size: 1.4em;
        }

    }

    #nav-bar {
        transition: max-height ease-in-out 0.3s;
        width: 100vw;
        max-height: 0;

        overflow: hidden;


        ul {
            margin-top: 20px;
            margin-bottom: 10px;
            li {

                display: flex;
                flex-direction: column;

                gap: 10px;

                a {
                    width: 100%;

                    padding: 5px 0;

                    font-size: 1.2em;
                    text-align: center;

                    &:hover {
                        background: var(--bg-secondary);
                        color: var(--text-secondary);
                        font-weight: 500;
                    }
                }
            }
        }

        &.active {
            max-height: 200px;
        }
    }

    .download-portfolio {
        display: none;
    }
}

.nav-burger {
    .menu {
        cursor: pointer;

        .bar {
            height: 3px;
            width: 30px;
            display: block;
            margin: 5px 0;
            background-color: var(--text-primary);
            border-radius: 10px;
            transition: transform 0.3s ease, opacity 0.3s ease;

            &:nth-of-type(1) {
                transform: translateY(0) rotate(0);
            }

            &:nth-of-type(2) {
                opacity: 1;
            }

            &:nth-of-type(3) {
                transform: translateY(0) rotate(0);
            }
        }

        &.active {
            .bar {
                &:nth-of-type(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    header {
        min-height: 90px;

        .nav-burger {
            display: none;
        }

        #nav-bar {
            width: fit-content;
            max-height: fit-content;

            ul {
                margin-top: 0;
                margin-bottom: 0;

                li {
                    flex-direction: row;

                    gap: 30px;

                    a {
                        width: fit-content;

                        //padding: 5px 20px;

                        transition: font-weight ease-in-out 200ms;

                        &:hover {
                            background: var(--bg-primary);
                            color: var(--text-primary);
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .download-portfolio {
            display: block;


            a {
                display: flex;
                align-items: center;

                background: var(--bg-secondary);
                color: var(--text-secondary);

                padding: 15px 25px;
                border-radius: 6px;

                svg {
                    margin-left: 10px;
                }
            }
        }
    }
}