main {
    .my-projects {
        background: var(--bg-secondary);
        width: 100vw;

        .projects {
            margin-bottom: 100px;
            .project {
                color: #fff;

                img {

                }

                .desc {

                    .number {

                    }

                    .name {

                    }

                    .explication {

                    }

                    a {


                        img {

                        }
                    }
                }
            }
        }
    }
}