main {
    .my-skills {
        margin-top: 100px;
        margin-bottom: 40px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        width: 90vw;
        //max-width: 600px;

        align-items: center;

        .languages {
            margin-top: 40px;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

            overflow: hidden;

            grid-gap: 30px;

            a {
                width: 42.5vw;
                height: 42.5vw;
                max-width: 200px;
                max-height: 200px;


                border: 2px solid var(--text-primary);
                border-radius: 6px;

                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;

                transition: 0.1s ease;

                cursor: pointer;

                img {
                    width: 40%;

                    margin-bottom: 30px;
                }

                h2 {
                    font-size: 1.4em;

                    font-weight: bold;

                    text-align: center;
                }

                &.invert {
                    backdrop-filter: invert(1);

                    h2 {
                        filter: invert(1);
                    }

                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    main {
        .my-skills {
            .languages {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);

            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        .my-skills {
            margin-top: 70px;
            margin-bottom: 140px;

            .languages {
                //width: 80vw;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 1fr);

                column-gap: 60px;
                row-gap: 40px;
            }
        }
    }
}